# Database Configuration
# Format: postgresql+asyncpg://user:password@host:port/dbname
DATABASE_URL=postgresql+asyncpg://postgres:password123@localhost:5432/procurement_module

# App Configuration
DEBUG=True
PORT=8000
